<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Patient {{id}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 class="data-label">ID</h4>
      <div class="data-elem">{{id}}</div>

      <h4 class="data-label">Name</h4>
      <div class="data-elem">{{name}}</div>

      <h4 class="data-label">Phone Number</h4>
      <div class="data-elem">{{phone_number}}</div>

      <h4 class="data-label">Address</h4>
      <div class="data-elem">{{address}}</div>

      <h4 class="data-label">Balance</h4>
      <div class="data-elem">{{balance}}</div>

      {{!-- <h4 class="data-label">Insurance Company ID</h4>
      <div class="data-elem">{{insurance_company_id}}</div>

      <h4 class="data-label">Condition ID</h4>
      <div class="data-elem">{{condition_id}}</div> --}}
    </div>
    <div class="col-md-8">
      <h4 class="data-label">Will Contents</h4>
      <pre class="data-elem">{{will_contents}}</pre>
    </div>
  </div>
</div>